<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.advancedfinance.home">

    <application>
        <activity
            android:name=".presentation.DrawerActivity"
            android:exported="false"
            android:label="Advanced Finance"
            android:theme="@style/CoreTheme.AdvancedFinance" />
    </application>

</manifest>